<link rel="stylesheet" href="/css/cart.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<h1 style="color:#008000; font-weight:bold">SHOPPING CART</h1>

<div class="shopping-cart" id="user-id" data-userid={{cartuser._id}}>
  {{#each cartuser.cart}}
  <div class="vector-container " data-vendorid={{this.vendor_id}}>
    <p class="vendor-id">{{this.vendor_email}}</p>
    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div>
    {{#each this.items}}
    <div class="product" id="product" >
      <div class="product-image">
        <img src={{this.image}}>
      </div>
      <div class="product-details">
        <div class="product-title">{{this.name}}</div>
      </div>
      <div class="product-price">{{this.price}}</div>
      <div class="product-quantity">
        <input type="number" value={{this.quantity}} min=1 max={{this.amount}} data-bookid={{this.id}} oninput="updateQuantity(event)">
      </div>
      <div class="product-removal" >
        <button class="remove-product" onclick="removeItem(event)" data-bookid={{this.id}}>
          Remove
        </button>
      </div>
      <div class="product-line-price">{{this.total}}</div>
    </div>
        {{/each}}
    </div>

    {{/each}}
<div class="col-md-12">
            <div class="pagination col-md-12"style="margin-left:10px">
                <ul class="page-list">
                    <li class="page"><a href="#">&lt;&lt;</a></li>
                    {{#each pages}}
                    <li class=" page"><a href={{this.pageA}}>{{this.page}}</a></li>
                    {{/each}}
                    <li class="page"><a href="#">&gt;&gt;</a></li>
                </ul>
            </div>

        </div>
        <div id="current-page" style="display: none;" name={{currentPage}}></div>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">0</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">0</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">0</div>
    </div>
  </div>

  <a href="/user/checkout"><button class="checkout">Checkout</button></a>

</div>