<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/product.css">

<div class="container"id="detail" >
    <div class="row">
        <div class="col-md-5">
            <img src={{detail.image}} class="itemImg" alt="" id="bookimage">
        </div>

        <div class="col-md-7">
            <h2 >{{detail.name}}</h2>
            <p data-price={{detail.price}}>Price: {{detail.price}}</p>
            <p>Category: {{detail.category}}</p>
            <p>Publisher: {{detail.publisher}}</p>
            <p class="vendor" >Vendor: {{vendor.email}}</p>
            <label>Quantity: </label>
            <input id ="qty"class="qty" type="number" min=1 value=1 max={{detail.amount}}>
            {{#if user}}
            <button type="button" class="btn btn-default cart"  onclick="addCart(event)" data-bookid={{detail._id}}>ADD TO CART</button>
            <span id="add-cart-notice"></span>
            {{else}}
            <a href="/login/"><button type="button" class="btn btn-default cart" style="background:black">LOGIN FIRST</button></a>
            {{/if}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="tab_bar_section">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#description">Description</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="description" class="tab-pane active">
                                <div class="product_desc">
                                    <p style="font-style: italic;">{{detail.description}}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>